{% extends 'main/base.html' %}

{% load my_tags %}

{% block content %}
<main>
    <div class="row text-center">

        <div class="col-12 md-5">
            {% if user.is_active %}
                <a class="btn btn-outline-primary" href="{% url 'main:create_product' %}">Добавить продукты</a><br><br>
            {% endif %}
        </div>

        {% for object in object_list %}
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <img class="card-img-top" src="{{ object.image_preview|mediapath }}">
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        {{ object.description|slice:100 }}
                    </ul>
                    <div class="btn-group">
                        <a href="{% url 'main:category_product' object.category.id %}" type="button"
                           class="btn btn-lg btn-block btn-outline-primary">{{ object.category }}</a>
                        {% if user.is_active %}
                            <a href="{% url 'main:view_product' object.pk %}"
                               class="btn btn-sm btn-block btn-outline-primary">View</a>
                            <a href="{% url 'main:edit_product' object.pk %}"
                               class="btn btn-sm btn-block btn-outline-secondary">Edit</a>
                            <a href="{% url 'main:delete_product' object.pk %}"
                               class="btn btn-sm btn-block btn-outline-danger">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer">
                    {% if object.version == None %}
                        Активная версия продукта: Отсутствует
                    {% else %}
                        Активная версия продукта: {{ object.version }}
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</main>
{% endblock %}
